<body class="bg-primary-subtle" style="height: fit-content">
  <ul class="list-group">
    <li
      *ngFor="let post of posts"
      class="list-group-item w-75 mx-auto border-3 border-white rounded my-3"
      [ngClass]="{
        'text-bg-warning': post.type === 'news',
        'text-bg-dark': post.type === 'politic',
        'text-bg-primary': post.type === 'education',
      }"
    >
      <p
        class="bg-dark border border-1 border-white text-white rounded-circle text-center"
        style="width: 25px"
      >
        {{ post.id }}
      </p>
      <div class="d-flex justify-content-between">
        <h3>
          {{ post.title | capitalize }} •
          <span appColorchange>{{ post.author }}</span>
        </h3>
        <span class="bg-primary-subtle p-1 rounded text-primary mb-1">{{
          post.type
        }}</span>
      </div>
      <p>
        {{ post.body }}
      </p>
      <img
        class="img-fluid border border-2 border-white"
        [src]="post.image"
        alt=""
      />
      <app-custom [id]="post.id"></app-custom>
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#exampleModal"
      >
        Details
      </button>
      <app-modal></app-modal>
    </li>
  </ul>
</body>
