<body class="bg-success-subtle" style="height: fit-content">
  <ul class="list-group">
    <li
      *ngFor="let post of posts"
      class="list-group-item w-75 mx-auto border-white border-3 rounded my-3"
      [ngClass]="{
        'text-bg-warning': post.type === 'news',
        'text-bg-dark': post.type === 'politic',
        'text-bg-primary': post.type === 'education',
      }"
    >
      <p
        class="bg-dark border border-1 border-white text-white rounded-circle text-center"
        style="width: 25px"
      >
        {{ post.id }}
      </p>
      <div class="d-flex justify-content-between">
        <h4>
          {{ post.title }}
        </h4>
        <span class="bg-success-subtle p-1 rounded text-success mb-1">{{
          post.type
        }}</span>
      </div>
      <p>
        {{ post.body }}
      </p>
      <img
        class="img-fluid border border-2 border-white"
        [src]="post.image"
        alt=""
      />
      <app-custom [status]="post.status"></app-custom>
    </li>
  </ul>
</body>
